<%- include('header'); -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <style>
        .addspace {
    padding-top: 15px;
    padding-bottom: 15px;
}
.resize {
    height: 150px;
    width: 150px;
    padding-right: 10px;
}
.img-wrap {
    position: relative;
    display: inline-block;
    border: 1px red solid;
    font-size: 0;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}
    </style>
</head>
<body>
    <div class="ui main text container segment centered">
        <div class="ui huge header"><%=book.name%></div>
        <div>
            <%book.images.forEach((image) => {%>
                <div class="img-wrap">
                    <span class="close">&times;</span>
               <a href='/images/<%=image._id%>/<%=book._id%>/delete'> <img alt="" src="data:image/<%=image.contentType%>;base64,
                <%=image.imageBase64%>" class="resize button"></a>
            </div>
            <% })%><br>

        </div>
            <div class='description'>
            <p>Description: <%-book.desc%></p>
            </div>
           <div class="addspace">
            <a href='/books/<%=book._id%>/edit' class='ui green basic button'>Edit</a>

           </div>
           <div>
            <form id ='delete' action='/books/<%=book._id%>?_method=DELETE' method='POST'>
                <button class='ui red basic button' >Delete</button>
           </form>
           </div>
            
         
    </div>
</body>
</html>
